// Primary
$color-primary-50: #ffe9eb;
$color-primary-500: #ec838f;

// Success
$color-success-50: #e9f6f1;

// Natural
$color-natural-50: #ffffff;
$color-natural-400: #aba8ac;
$color-natural-600: #767177;
$color-natural-700: #5b555c;
$color-natural-900: #261e27;

// Grey
$color-grey-50: #ffffff;
$color-grey-200: #f6f6f6;
$color-grey-300: #ececec;
